* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #008179;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}